@* --------------------------------- VievBag İLE VERİ TAŞIMA ---------------------------------
    @{
            ViewBag.Title = "Home Page";
            //js, html etc. kodlarını kullanabilmek için başına  @  koyman yeterli
            int number = 5;
            int i = 0;
        }

        <h1>@ViewBag.Erhan</h1>

        <ul>
            @foreach (var item in ViewBag.isimler)
           {
                i++;
                <li>@i @number @item</li>
           }
           </ul>
    ------------------------------------------------------------------------------------------------

     ------------------------------------ MODEL İLE VERİ TAŞIMA ------------------------------------

    Modeli tanımlarken küçük harfle yaz. @model
    Modeli kullanırken baş harfi büyük kullan. @Model.Name

    Bir sayfa birden fazla model alamaz.
    Yalnızca multiply şekilde alır. Bunun için modelleri bir property de tanımlar property i taşırsın.

    @model;
        @{
            ViewBag.Title = "Home Page";
            int i = 0;
        }

        <h2>@Model[0]</h2>
    ------------------------------------------------------------------------------------------------

     --------------------------------- Controllers, models i ---------------------------------
    1. Yöntem: Category classını tanımlama
    burada göndereceğimiz verinin türünü bildiriyoruz, veriyi controllerdan çekeceğiz
    @model FirstWebProject.Models.Category*@


@*2. Yöntem:*@

@using FirstWebProject.Models;
@model List<Category>


@{
    ViewBag.Title = "Home page";
}

@*<table class="table table-bordered table-striped">
        <tr>
            <th>Id</th>
            <td>@Model.Id</td>
        </tr>

        <tr>
            <th>Name</th>
            <td>@Model.Name</td>
        </tr>

        <tr>
            <th>Description</th>
            <td>@Model.Description</td>
        </tr>

        <tr>
            <th>Status</th>
            <td>
                <a class="btn btn-@(Model.IsStatus?"success":"danger")">
                    @(Model.IsStatus?"Active":"Passive")
                </a>
            </td>
        </tr>
    </table>*@


@*<h1>@ViewData.hello</h1>*@
<h1>@ViewData["Message"]</h1>
<h1>@TempData["Message"]</h1>

<table class="table table-hover table-bordered table-striped table-dark">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Status</th>
            <th>Settings</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <th>@category.Id</th>
                <td>@category.Name</td>
                <td>@category.Description</td>
                <td>
                    <a class="btn btn-@(category.IsStatus?"success":"danger")">
                        @(category.IsStatus?"Active":"Passive")
                </td>
                <td class="text-center"><a class="btn btn-primary"><i class="fa-solid fa-gear"></i> Settings</a></td>

            </tr>
        }
    </tbody>
</table>






















@*-------*@


